@(all: List[User])

@main {

    <h1 id="homeTitle">Пользователи</h1>
    @if(all.isEmpty) {
        <div class="well">
            <em>Нет данных для отображения</em>
        </div>

    } else {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @for(user <- all.asScala) {
                    <tr>
                        <td><a href="@routes.UserController.edit(user.getEmail())">@user.getEmail()</a></td>
                        <td><a href="@routes.UserController.edit(user.getEmail())">@user.getPassword()</a></td>
                        <td><a href="@routes.UserController.edit(user.getEmail())">@user.getName()</a></td>
                        <td><a href="@routes.UserController.edit(user.getEmail())">@user.getAdmin()</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <a href="@routes.UserController.create()" class="btn btn-primary">Добавить пользователя</a>
}